.App {
  text-align: center;
}

input{
  border-radius: 5px 20px;
  border: 0.5px solid rgb(225, 225, 225);
  margin: 10px;
  height: 3em;
  padding-left: 15px;
  transition: all 100ms ease-in;
  width: 13em;
}

input:hover, input:focus{
  box-shadow: 0px 0px 5px blue;
  outline: none;
}

button{
  background-color: chartreuse;
  border-radius: 10px 0px 10px;
  border: none;
  color: white;
  cursor: pointer;
  height: 3em;
  transition: all 400ms; 
  width: 6em;
}

button:hover{
  opacity: .5;
}